*~
*.diff
*.swp
*.sw*
*.Po
*.o
*.lo
*.a
*.la
*.so
*.so*
test_install/
*.o
.libs/
*.patch
!**/extras/**/*.patch
cscope.files
cscope.out
cscope.*
*.tar.gz
!**/extras/**/*.tar.gz
**/srx/extras/local
node*1/
node*2/
node*3/
node*4/
node*5/
node*6/
tags
.gitignore
*/src/tools/rpkirtr_client
*/src/tools/rpkirtr_svr
quagga-0.99.16/bgpd/bgpd
connect_bgp2.sh
server_txt
server_txt2
telnet_run.sh
spawn_node*.sh
*.orig
callgrind.*
gmon.out
sample-profile-test/
gprof*
spawn*.sh
profile-*
test_result/
*/bgpd/bgpd
svn-trunk/
svn-branch/
cap_*
SourceTempTest/
garbage_cleaner*
duplicate_prefix
quagga-original/
diff_*
*.tmp
git.svn/
#Makefile
Makefile.in
*/Makefile.in
/*/**/.deps/
*.log
*.status
libtool
config.h
stamp-h1
*.rpm
.deps/
quagga.spec
ripd
ripngd
watchquagga
testzebra
zebra
babeld
*/pkgsrc/*.sh
*/tests/[a-z]*
temp-*/
*.private
*.pub
bgpsec-keys/
*.old
.gdbinit
doc/
fpm/
ospf6d/
ospfclient/
ospfd/
pkgsrc/
redhat/
solaris/
tests/
certs/**/*.key
certs/**/*.pem
certs/**/*.csr
certs/**/*.srl
